{{!-- Contenido de la página que aparecera dentro del main --}}
{{!-- Body --}}
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node js And MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Nobis commodi blanditiis beatae?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cum
        sapiente rem velit provident officiis illum deserunt perspiciatis alias officia?</p>
    <a href="https://youtube.com" class="btn btn-success" target="_blank">Canal YouTube</a>
</div>
<footer>&copy;AprendiendoJS</footer>