<div class="row">
    {{#each notes}}
    <pre>{{this}}</pre>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4>{{this.title}}</h4>
            </div>
        </div>
    </div>
    {{/each}}
</div>